<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8" >
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Esteban Ocon</title>
        
        <link rel="stylesheet" href="ocon.css">
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datasource@0.1.0"></script>
    </head>

    <div class="navbar">
        <a href="./index.html">Home</a>
        <a class="active" href="./driver.html">Drivers</a>
        <a href="./team.html">Teams</a>
        <a href="./predictor.html">Predictor</a>
        <a href="./races.html">Grands Prix</a>
        <a href="./season.html">This Season</a>
    </div>

    <body>
        <div class="header">
            <h1>#31 Esteban Ocon</h1> 
            <img id="flag" src= "./assets/france_flag.png" alt="National Flag">
            <img id="team" src= "./assets/renault_logo.jpg" alt="Driver Team Logo"> 
            <img id="photo" src= "./assets/ocon_photo.jpg" alt="Driver Photo">
            <h2>Renault Sport F1</h2> 
            <div id="left">
                <p>Age: 24</p>
                <p>Entries: 67</p>
                <p>Titles: 0</p>
                <p>Poles: 0</p>
            </div>
            <div id="right">
                <p>Wins: 0</p>
                <p>Podiums: 1</p>
                <p>First Start: 2016 Belgian Grand Prix</p>
                <p>First Podium: 2020 Sakhir Grand Prix</p>
            </div>
        </div>       
        <div class="container">
            <canvas id="driver_stats"></canvas>
        </div>
        <div id="awards">
            <h3> Awards Won </h3>           
            <ul>
                <li> 2013 Formula Renault 2.0 NEC third place </li>
                <li> 2014 FIA Formula 3 European Championship Champion</li>
                <li> 2015 GP3 Series Champion</li>
            </ul>
        </div>
        <div id="teamHistory">
            <h3> Teams Driven For: </h3>           
            <ul>
                <li> 2016: Manor Racing Team</li>
                <li> 2017-2018: Sahara Force India F1 Team </li>
                <li> 2018: Racing Point F1 Team</li>
                <li> 2020: Renault Sport racing Team</li>
            </ul>
        </div>
        <script>
            const xlabels = [];
            const points_data = [];
            makeChart();
            async function makeChart(){
                await getStanding();
                const ctx = document.getElementById('driver_stats').getContext('2d');
                const myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: xlabels,
                        datasets: [{
                        label: 'Points Earned',
                    data: points_data,
                    fill: false,
                    backgroundColor: [
                        'white',
                    ],
                    borderColor: [
                        'black',
                    ],
                    borderWidth: 1
                                    }]
                            },
                    options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                            }
                            }
                    });
                }
        async function getStanding(){
        const standings = await fetch('data/DriverStandings.csv');
        const data = await standings.text();
        const d_standings = data.split('\n');
        const point_list = [];
        const year_list = [];
        const round_list = [];
        for (var i = 0; i < d_standings.length; i++){
            const row = d_standings[i].split(',');
            const year = row[0]; 
            const round = row[1];
            const driver = row[2];
            const points = row[3];
            if (driver == "ocon"){
                year_list.push(year);
                point_list.push(points);
                round_list.push(round);
            }    
        };
        round_list.push("1");
        for (var i = 1; i < year_list.length && point_list.length; i++){
                if(!xlabels.includes(year_list[i])){
                    xlabels.push(year_list[i]);
                }
                if(parseFloat(round_list[i]) > parseFloat(round_list[i + 1])){
                    points_data.push(point_list[i]);
                }
            }
        }
        </script>
        <footer>
            <p> Contact us @ email@email.com </p>
            <p> Business enquiries only! </p>
        </footer>
    </body>
</html>
            