<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8" >
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>George Russell</title>
        
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/russell.css')}}" />
        <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <script>
        var d_name = '{{ driver_name }}';
        var d_code = '{{ driver_code }}';
        </script>
        <script type="text/javascript" src="../../static/GraphScripts/careerPoints.js"></script>
        <script type="text/javascript" src="../../static/GraphScripts/DriverPointsThroughoutSeasonLineChart.js"></script>
        <script type="text/javascript" src="../../static/GraphScripts/QualiGapTeammateBarChart.js"></script>
    </head>

    <div class="navbar">
        <a href="./index.html">Home</a>
        <a class="active" href="./driver.html">Drivers</a>
        <a href="./team.html">Teams</a>
        <a href="./predictor.html">Predictor</a>
        <a href="./races.html">Grands Prix</a>
        <a href="./season.html">This Season</a>
    </div>

    <body>
        <div class="header">
            <h1>#63 George Russell</h1> 
            <img id="flag" src= "../../static/assets/flags/britain_flag.jpg" alt="National Flag">
            <img id="team" src= "../../static/assets/logos/williams_logo.png" alt="Driver Team Logo"> 
            <img id="photo" src= "../../static/assets/portraits/russell_photo.jpg" alt="Driver Photo">
            <h2>Williams Racing</h2> 
            <div id="left">
                <p>Age: 23</p>
                <p>Entries: 38</p>
                <p>Titles: 0</p>
                <p>Poles: 0</p>
            </div>
            <div id="right">
                <p>Wins: 0</p>
                <p>Podiums: 0</p>
                <p>First Start: 2019 Australian Grand Prix</p>
                <p>First Point: 2020 Sakhir Grand Prix</p>
            </div>
        </div>       
        <div class="container">
            <canvas id="driver_points"></canvas>
        </div>
        <div id="awards">
            <h3> Awards Won </h3>           
            <ul>
                <li> 2014 BRDC Formula 4 Championship Winner</li>
                <li> 2014 McLaren Autosport BRDC Award</li>
                <li> 2015 BRDC SuperStar</li>
                <li> 2016 FIA Formula 3 Championship Third-Place</li>
                <li> 2017 GP3 Series Winner</li>
                <li> 2018 FIA Formula 2 Championship Winner</li>
            </ul>
        </div>
        <div id="teamHistory">
            <h3> Teams Driven For: </h3>           
            <ul>
                <li> 2019-Present: Williams Racing</li>
            </ul>
        </div>
        <div style="height: 400px; width: 700px;">
            <canvas id="driver_stats"></canvas>
        </div>
        <div style="height: 400px; width: 700px;">
            <canvas id="TeamPoints_stats"></canvas>
        </div>
        <footer>
            <p> Footer Fetish </p>
        </footer>
    </body>
</html>
