html {
      height: 100%;
      width: 100%;
    }

      body {
        font-family: 'Yu Gothic UI', Arial;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(232, 246, 248, 1);
      }
      /* Navigation bar */ 
      .navbar{
        background-color: #F8EAE8;
        overflow: hidden;
      }

      .navbar a{
        float: left;
        color: #070707;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 30px;
      }

      .navbar a:hover{
        background-color: #ddd;
        color: black;
        text-decoration: underline black;
      }

      .navbar a.active{
        background-color: #c1e0c9;
        color: white;
      }
      /* heading */ 
      .header {
        padding-top: 10px;
        padding-bottom: 80px;
        height: 300px;
        color: white;
        font-size: 30px;
        position: relative;
        background-color: #d6d1d1;
      }

      .header h1{
        text-align: center;
        color: grey;
        width: 40%;
        padding-bottom: -10px;
      }

      .header h2{
        text-align: center;
        color: grey;
        width: 43%;
        padding-top: 0px;
      }

      .header table{
        font-size: 20px;
        text-align: center;
      }