<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8" >
        <title>Driver Page</title>
        
        <link rel="stylesheet" href="driver.css">
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datasource@0.1.0"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    </head>

    <div class="navbar">
        <a href="./index.html">Home</a>
        <a class="active" href="./driver.html">Drivers</a>
        <a href="./team.html">Teams</a>
        <a href="./predictor.html">Predictor</a>
        <a href="./races.html">Grands Prix</a>
        <a href="./season.html">This Season</a>
        <button onclick="lightsOut()">DarkMode</button>
    </div>

    <body>
        <div class="header">
            <h1>#33 Max Verstappen</h1> 
            <img id="flag" src= "./assets/verstappen_flag.png" alt="National Flag">
            <img id="team" src= "./assets/redbull_logo.png" alt="Driver Team Logo"> 
            <img id="photo" src= "./assets/verstappen_photo.png" alt="Driver Photo">
            <h2>Red Bull Racing - Honda</h2> 
            <div id="left">
                <p>Age: 23</p>
                <p>Entries: 119</p>
                <p>Titles: 0</p>
                <p>Poles: 3</p>
            </div>
            <div id="right">
                <p>Wins: 10</p>
                <p>Podiums: 42</p>
                <p>First Start: 2015 Australian Grand Prix</p>
                <p>First Win: 2016 Spanish Grand Prix</p>
            </div>
        </div>       
        <div class="container">
            <canvas id="Driver Lineup History" width="600" height="400"></canvas>
        </div>

        <script>
            const drivers = [];
            const numRaces = [];
            const colours = [];

            const lineupData = {
                labels: drivers,
                datasets: [
                    {
                        data: numRaces,
                        backgroundColor: colours,
                    }]
            };

            var chartOptions = {

            cutoutPercentage: 30,
            legend: {
                position: 'left'
            },
            };
            makeChart();

            
            async function makeChart(){
                await getLineup();
                const lineupChart = document.getElementById("Driver Lineup History");
                Chart.defaults.global.defaultFontFamily = "Lato";
                Chart.defaults.global.defaultFontSize = 18;
                const doughnut = new Chart(lineupChart, {
                    type: 'doughnut',
                    data: lineupData,
                    options: chartOptions
                    });
            }
            async function getLineup(){
                const lineup = await fetch("../../code/Data/TeamLineups/Renault.csv");
                const data = await lineup.text();
                const lineups = data.split("\n");
                for (var i=1; i < lineups.length-1; i++){
                    const row = lineups[i].split(",");
                    const driver = row[0];
                    const races = row[1];
                    drivers.push(driver);
                    numRaces.push(races);
                    colours.push(dynamicColors());
                }
            }

            var dynamicColors = function() {
            var r = Math.floor(Math.random() * 255);
            var g = Math.floor(Math.random() * 255);
            var b = Math.floor(Math.random() * 255);
            return "rgb(" + r + "," + g + "," + b + ")";
            };

            function lightsOut() {
                var element = document.body;
                var element2 = document.getElementById("header");
                element.classList.toggle("dark-mode");
                element2.classList.toggle("dark-mode");
            }
        </script>
        <footer>
            <p> Contact us @ email@email.com </p>
            <p> Business enquiries only! </p>
        </footer>
    </body>
</html>
            