html {
  height: 100%;
  width: 100%;
}

  body {
    font-family: 'Yu Gothic UI', Arial;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(192, 237, 243);
  }
  /* Navigation bar */ 
  .navbar{
    background-color: #F8EAE8;
    overflow: hidden;
  }

  .navbar a{
    float: left;
    color: #070707;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
  }

  .navbar a:hover{
    background-color: #ddd;
    color: black;
    text-decoration: underline black;
  }

  .navbar a.active{
    background-color: #c1e0c9;
    color: white;
  }
  /* heading */ 
  .header {
    padding-top: 10px;
    padding-bottom: 80px;
    height: 300px;
    color: white;
    font-size: 30px;
    position: relative;
    background-color: #d6d1d1;
  }

  .header h1{
    text-indent: 100px;
    color: black;
    padding-top: 20px;
    line-height: 20%;
    clear:both;
    display: inline-block;
  }

  .header h2{
    text-indent: 100px;
    color: black;
    vertical-align: text-top;
    line-height: 0%;
  }

  .header #left{
    text-indent: 100px;
    color: black;
    vertical-align: text-top;
    line-height: 10%;
    display: inline-block;
  }

  .header #right{
    text-indent: 25px;
    color: black;
    vertical-align: text-top;
    line-height: 10%;
    display: inline-block;
  }

  .header #flag{
    width: 75px;
    height: 45px;
    clear:both;
    display: inline-block;
    color: black;
  }

  .header #car{
    width: 370px;
    height: 250px;
    float: right;
    padding-left: 150px;
    padding-top: 50px;
    color: black;
  }

  .header #logo{
    width:  280px;
    height: 170px;
    float: right;
    padding-left: 90px;
    padding-right: 100px;
    padding-top: 100px;
    color: black;
  }
    /* Body of page */
  .container1{
    height: 400px;
    width: 700px;
    display: inline-block;
    padding-left: 100px;
    padding-top: 40px;
  }

  #awards{
    float: right;
    clear: both;
    padding-right: 300px;
    font-size: 25px;
    padding-bottom: 0px;
    padding-top: 40px;
  }

  #topDrivers{
    clear: both;
    padding-left: 100px;
    padding-bottom: 150px;
    padding-top: 0px;
    font-size: 25px;
  }
/*footer */
  footer{
    display: block;
    padding-top: 50px;
  }
/* dark mode and button */
  .dark-mode {
    background-color: black;
    color: white;
  }

  button{
    background-color: #F8EAE8;
    float: left;
    color: #070707;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
    overflow: hidden;
    border-style: solid;
  }

  button:hover{
    background-color: #ddd;
    color: black;
    text-decoration: underline black;
  }

  button:active{
    background-color: #c1e0c9;
    color: white;
  }