html {
  height: 100%;
  width: 100%;
}

  body {
    font-family: 'Yu Gothic UI', Arial;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(232, 246, 248, 1);
  }
  /* Navigation bar */ 
  .navbar{
    background-color: #F8EAE8;
    overflow: hidden;
  }

  .navbar a{
    float: left;
    color: #070707;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
  }

  .navbar a:hover{
    background-color: #ddd;
    color: black;
    text-decoration: underline black;
  }

  .navbar a.active{
    background-color: #c1e0c9;
    color: white;
  }
  /* heading */ 
  .header {
    padding-top: 10px;
    padding-bottom: 80px;
    height: 300px;
    color: white;
    font-size: 30px;
    background-color: #d6d1d1;
  }

  .header h1{
    color: black;
    text-align: center;
    padding: 0;
  }

  .header p{
    color: black;
    text-align: center;
  }

  .header #champion{
    height: 350px;
    float: right;
    position: relative;
    padding-right: 150px;
    color: black;
    margin-top: 12px;
  }
    /* Body of page */
  #championship{
    display: inline-block;
    text-align: center;
  }

  #championship table, td, tr, th{
    margin-top: 10px;
    margin-left: 140px;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    background-color: white;
  }

  #championship h2{
    margin-top: 10px;
    text-align: center;
    margin-left: 140px;
  }

  #season{
    margin-top: 10px;
    text-align: center;
    width: 45%;
    float: right;
  }

  #season h2{
    margin-top: 10px;
    margin-right:90px;
  }

  #season p{
    margin-right: 90px;
  }

  #gasly-win{
    width: 450px;
    float: middle;
  }
/*footer */
  footer{
    display: block;
    padding-top: 50px;
  }
