<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8" >
        <title>Team Page</title>
        
        <link rel="stylesheet" href="team.css">
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datasource@0.1.0"></script>
    </head>

    <div class="navbar">
        <a href="./index.html">Home</a>
        <a href="./driver.html">Drivers</a>
        <a class="active" href="./team.html">Teams</a>
        <a href="./predictor.html">Predictor</a>
        <a href="./races.html">Grands Prix</a>
        <a href="./season.html">This Season</a>
        <button onclick="lightsOut()">DarkMode</button>
    </div>

    <body>
        <div class="header">
            <h1>Red Bull Racing</h1> 
            <img id="flag" src= "./assets/austria_flag.png" alt="National Flag">
            <img id="logo" src= "./assets/redbull_logo.png" alt="Team Logo">
            <img id="car" src= "./assets/red_bull_car.jpg" alt="Team Car">  
            <h2>Max Verstappen & Alex Albon</h2> 
            <div id="left">
                <p>Entries: 303</p>
                <p>Poles: 63</p>
                <p>Driver's Titles: 4</p>
                <p>Constructor's Titles: 4</p>
            </div>
            <div id="right">
                <p>Wins: 64</p>
                <p>Podiums: 183</p>
                <p>First Start: 2005 Australian Grand Prix</p>
                <p>First Win: 2009 Chinese Grand Prix</p>
            </div>
        </div>       
        <div class="container1">
            <canvas id="TeamPoints_stats"></canvas>
        </div>
        <div id="awards">
            <h3> Awards </h3>           
            <ul>
                <li> Constructor's Champion - 4 (2010, 11, 12, 13) </li>
                <li> Driver's Champion - 4 (2010, 11, 12, 13) </li>
                <li> DHL Fastest Pit-Stop Award - 3 (2018, 19, 20) </li>
            </ul>
        </div>
        <div id="topDrivers">
            <h3> Top Drivers </h3>           
            <ul>
                <li> 2009-2014: Sebastian Vettel</li>
                <li> 2007-2013: Mark Webber</li>
                <li> 2005-2008: David Coulthard</li>
                <li> 2014-2018: Daniel Ricciardo</li>
                <li> 2016-Present: Max Verstappen</li>
            </ul>
        </div>

        <script>
            const chartOptions = {
            scales: {
                    yAxes: [{barPercentage: 0.5}]
                    },
                    elements: {
                    rectangle: {
                    borderSkipped: 'left',}}};
            const colours = [];
            const xlabels = [];
            const points_data = [];

            makeChart();
            async function makeChart(){
                await getStanding();
                const ctx = document.getElementById('TeamPoints_stats').getContext('2d');
                const myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: xlabels,
                        datasets: [{
                        label: 'Points Earned',
                        data: points_data,
                        backgroundColor: colours,
                        fill: false,
                        borderWidth: 1
                                        }]
                            },
                    options: { chartOptions,
                            }
                    });
                }

        var dynamicColors = function() {
        var r = 6
        var g = 0
        var b = 239
            return "rgb(" + r + "," + g + "," + b + ")";
        };

        async function getStanding(){
        const standings = await fetch('data/ConstructorStandings.csv');
        const data = await standings.text();
        const d_standings = data.split('\n');
        const point_list = [];
        const year_list = [];
        const round_list = [];
        for (var i = 0; i < d_standings.length; i++){
            const row = d_standings[i].split(',');
            const year = row[0]; 
            const round = row[1];
            const team = row[2];
            const points = row[3];
            if (team == "red_bull"){
                year_list.push(year);
                point_list.push(points);
                round_list.push(round);
                colours.push(dynamicColors());
            }    
        };
        round_list.push("1");
        for (var i = 1; i < year_list.length && point_list.length; i++){
                if(!xlabels.includes(year_list[i])){
                    xlabels.push(year_list[i]);
                }
                console.log(round_list);
                console.log(point_list);
                if(parseFloat(round_list[i]) > parseFloat(round_list[i + 1])){
                    points_data.push(point_list[i]);
                }
            }
        }

        function lightsOut() {
            var element = document.body;
            var element2 = document.getElementById("header");
            element.classList.toggle("dark-mode");
            element2.classList.toggle("dark-mode");
        } 

        </script>

        <footer>
            <p> Contact us @ email@email.com </p>
            <p> Business enquiries only! </p>
        </footer>
    </body>
</html>
            