<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8" >
        <title>Team Page</title>
        
        <link rel="stylesheet" href="team.css">
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datasource@0.1.0"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    </head>

    <div class="navbar">
        <a href="./index.html">Home</a>
        <a href="./driver.html">Drivers</a>
        <a class="active" href="./team.html">Teams</a>
        <a href="./predictor.html">Predictor</a>
        <a href="./races.html">Grands Prix</a>
        <a href="./season.html">This Season</a>
        <button onclick="lightsOut()">DarkMode</button>
    </div>

    <body>
        <div class="header">
            <h1>Red Bull Racing</h1> 
            <img id="flag" src= "./assets/austria_flag.png" alt="National Flag">
            <img id="logo" src= "./assets/redbull_logo.png" alt="Team Logo">
            <img id="car" src= "./assets/red_bull_car.jpg" alt="Team Car">  
            <h2>Max Verstappen & Alex Albon</h2> 
            <div id="left">
                <p>Entries: 303</p>
                <p>Poles: 63</p>
                <p>Driver's Titles: 4</p>
                <p>Constructor's Titles: 4</p>
            </div>
            <div id="right">
                <p>Wins: 64</p>
                <p>Podiums: 183</p>
                <p>First Start: 2005 Australian Grand Prix</p>
                <p>First Win: 2009 Chinese Grand Prix</p>
            </div>
        </div>       
        <div class="container1">
            <canvas id="Driver Lineup History"></canvas>
        </div>
        <div id="awards">
            <h3> Awards </h3>           
            <ul>
                <li> Constructor's Champion - 4 (2010, 11, 12, 13) </li>
                <li> Driver's Champion - 4 (2010, 11, 12, 13) </li>
                <li> DHL Fastest Pit-Stop Award - 3 (2018, 19, 20) </li>
            </ul>
        </div>
        <div id="topDrivers">
            <h3> Top Drivers </h3>           
            <ul>
                <li> 2009-2014: Sebastian Vettel</li>
                <li> 2007-2013: Mark Webber</li>
                <li> 2005-2008: David Coulthard</li>
                <li> 2014-2018: Daniel Ricciardo</li>
                <li> 2016-Present: Max Verstappen</li>
            </ul>
        </div>

        <script>
            const drivers = [];
            const numRaces = [];
            const colours = [];

            const lineupData = {
                labels: drivers,
                datasets: [
                    {
                        data: numRaces,
                        backgroundColor: colours,
                    }]
            };

            var chartOptions = {

            cutoutPercentage: 30,
            legend: {
                position: 'left'
            },
            };
            makeChart();

            
            async function makeChart(){
                await getLineup();
                const lineupChart = document.getElementById("Driver Lineup History");
                Chart.defaults.global.defaultFontFamily = "Lato";
                Chart.defaults.global.defaultFontSize = 18;
                const doughnut = new Chart(lineupChart, {
                    type: 'doughnut',
                    data: lineupData,
                    options: chartOptions
                    });
            }
            async function getLineup(){
                const lineup = await fetch("../../Data/TeamLineups/Renault.csv");
                const data = await lineup.text();
                const lineups = data.split("\n");
                for (var i=1; i < lineups.length-1; i++){
                    const row = lineups[i].split(",");
                    const driver = row[0];
                    const races = row[1];
                    drivers.push(driver);
                    numRaces.push(races);
                    colours.push(dynamicColors());
                }
            }

            var dynamicColors = function() {
            var r = Math.floor(Math.random() * 255);
            var g = Math.floor(Math.random() * 255);
            var b = Math.floor(Math.random() * 255);
            return "rgb(" + r + "," + g + "," + b + ")";
            };

            function lightsOut() {
                var element = document.body;
                var element2 = document.getElementById("header");
                element.classList.toggle("dark-mode");
                element2.classList.toggle("dark-mode");
            }
        </script>
        <footer>
            <p> Contact us @ email@email.com </p>
            <p> Business enquiries only! </p>
        </footer>
    </body>
</html>
            